@font-face {
    font-family: "Dongle";
    src: Local("Dongle"),
    url("fonts/Dongle-Regular.ttf") format("truetype");
    size-adjust: 200%;
}

:root {
    --1             : #d9a7b0; /* pink */
    --2             : #a7cbd9; /* blue */
    --3             : #68a0a6; /* teal */
    --4             : #f2e0d5; /* sand */
    --5             : #a66f6f; /* red */

    --outside-bg    : var(--3);
    --main-bg       : var(--4);

    --font-main     : "Dongle", sans-serif;
    --font-title    : "Dongle", sans-serif;
    --font-size     : calc(1rem + (1.2vw / 5));
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    background: var(--outside-bg);
    font-family: var(--font-main);
    font-size: var(--font-size);
    line-height: 1.4;
}

main {
    aspect-ratio: 3 / 2;
    height: 100%;

    background: var(--main-bg);
}

section {
    height: 100%;
    width: 100%;
}

button, .button {
    padding: 0em 1em;
    border-radius: 5px;
    border: none;
    background: var(--5);
    color: white;
    cursor: pointer;
    font-family: var(--font-main);
    font-size: .8em;
    text-decoration: none;

    &:hover {
        background: var(--1);
    }
}

/**/

#loading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;

    & div {
        font-size: 1.5em;
        text-align: center;
    }

    & h1 {
        margin: 0;
    }

    & button {
        font-size: .6em;
    }
}

#game {
    & .grid {
        display: grid;
        padding: 1em;
        grid-gap: .5em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto minmax(0, 1fr);
        grid-template-areas: "dressup options"
                             "dressup finish";

        height: 100%;
        overflow: hidden;
    }

    & #canvases { grid-area: dressup; }
    & #options {
        grid-area: options;
        overflow-y: auto;
        scrollbar-color: var(--3) var(--2);
    }

    & .finish {
        grid-area: finish;
        text-align: center;
    }
}

fieldset {
    display: grid;
    grid-template-columns: auto 2em auto;
    grid-template-rows: 1fr;
    grid-template-areas: "previous x next";
    margin-bottom: 1em;
    border: var(--1) solid 5px;

    & legend {
        margin: auto;
        text-align: center;
    }

    & button[name=previous] { grid-area: previous; }
    & button[name=next] { grid-area: next; }
}

#canvases {
    padding: 0;
    display: grid;
    grid-gap: 0px;
    grid-auto-flow: row;

    & div, & canvas {
        position: relative;
        margin: 0;
        padding: 0;
        background-size: cover;
    }
}

#finish {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(0, 1fr);
    grid-gap: 1em;

    & canvas {
        margin: auto;
        padding: 1em;
    }

    & div {
        text-align: center;
    }
}

/**/

.hidden {
    display: none !important;
}
